* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav > a:hover {
    text-decoration: underline;
}

#banner {
    text-align: center;
    background-color: rgb(166, 235, 231);
}

#banner img {
    max-width: 100%;
    height: auto;
    padding: 2em;
}

#parrafos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
}

article p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.3rem;
}

article {
    width: 100%;
    padding: 1.25rem;
}

.fotogrupo{
    text-align: center;
 
 }

.portafolio {
    background: #f2f2f2;
    padding: 2em;
    padding-top: 40px;
    text-align: center;
}
.portafolio div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgb(166, 235, 231);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 1em;
    height: 1em;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

footer {
    background: rgb(166, 235, 231);
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    display: flex;
    margin: 0 10px;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    border: 4px solid rgb(156, 196, 40);
    background-color: rgb(109, 41, 203);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
    color: rgb(166, 235, 231);
}

.descripcion span {
    font-size: 15px;
    margin-right: 15px;
    color: rgb(251, 251, 251);
}
.portafolio .imagen-port {
    font-size: 1.5rem; 
}

.portafolio .imagen-port img {
    max-width: 70%; 
}


/*  tablets */
@media screen and (max-width: 750px) {
    .portafolio .imagen-port {
        font-size: 0.8rem; 
    }

    .portafolio .imagen-port img {
        max-width: 50%; 
    }

    #parrafos article p {
        font-size: 0.9rem; 
        line-height: 1.2rem;

    }

    
    #parrafos {
        
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #izquierda {
        flex: 1 280px;
    }
    #central {
        order: 1;
    }
    #derecha {
        flex: 1 280px;
    }

    
}


/* celulares */

@media screen and (max-width: 576px) {
    .portafolio .imagen-port {
        font-size: 0.6rem; 
    }

    .portafolio .imagen-port img {
        max-width: 70%; 
    }

    #parrafos article p {
        font-size: 0.7rem; 
        line-height: 1rem;
    }

    #parrafos {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

   
    
}

